doctype
html
    head
        meta(charset='utf-8')
        meta(name='author', content='Florent Schildknecht')
        meta(name='robot', content='noindex,nofollow')
        meta(name='viewport', content='width=device-width,initial-scale=1.0')
        title Lumino
        link(rel='stylesheet', href='/styles/bootstrap.min.css')
        link(rel='stylesheet', href='/styles/app.min.css')
        link(rel='stylesheet', href='/styles/home.min.css')
    body
        section#app-container.container
            header#home
                h1#title LUMINO
                    #pulse
                hr
                h2#baseline Just as lighty as you need
                p#lightness Your ambiant light is actually :&nbsp;
                        span#state

            footer
                #arrow
        script(src='/components/jquery/dist/jquery.min.js')
        script(src='/components/socket.io-client/dist/socket.io.min.js')
        script(src='/scripts/vendor/colormix-2.0.0.min.js')
        script.
            var socket = io.connect('http://localhost:3000');
            var lightness = {
                'minimum'       : 0,
                'unsufficient'  : 50,
                'minimal'       : 125,
                'low'           : 200,
                'enough'        : 300,
                'moderate'      : 500,
                'good'          : 750,
                'superior'      : 1000,
                'maximum'       : 1024
            }
            var length = $('#lightness-gradient').width()
            socket.on('data', function (data) {
                var color = ColorMix.blend(data).useAsBackground($('body'));
                console.log(color);
                var state = 'maximum';

                for (var step in lightness) {
                    if (data < lightness[step]) {
                        $('#state').text(step);
                        break;
                    }
                }
            });
            ColorMix.setGradient([
                { reference: lightness.minimum, color: { red: 46, green: 46, blue: 46 } },
                { reference: lightness.unsufficient, color: { red: 51, green: 51, blue: 51 } },
                { reference: lightness.minimal, color: { red: 61, green: 61, blue: 61 } },
                { reference: lightness.low, color: { red: 84, green: 84, blue: 84 } },
                { reference: lightness.enough, color: { red: 106, green: 106, blue: 106 } },
                { reference: lightness.moderate, color: { red: 136, green: 136, blue: 136 } },
                { reference: lightness.good, color: { red: 167, green: 167, blue: 167 } },
                { reference: lightness.superior, color: { red: 170, green: 170, blue: 170 } },
                { reference: lightness.maximum, color: { red: 174, green: 174, blue: 174 } }
            ]);
